body {
  background-color: #3a3a3a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*
@keyframes drinkers-anim {
  20%, 35%, 50%, 65% {
    transform: translate(-17vh, -12vw) rotate(-140deg);
  }

  27.5%, 42.5%, 57.5%, 72.5% {
    transform: translate(-18vh, -11vw) rotate(-140deg);
  }
}

.dan {
  background-image: url(Media/dan.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 40vh;
  width: 40vw;
  position: relative;
}

.drinkers {
  animation: drinkers-anim 2.5s infinite;
  background-image: url(Media/beer.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 25vh;
  width: 10vw;
  position: absolute;
  top: 25vh;
  right: 11vw;
}
*/
.askers {
  display: inline-block;
  width: 25vw;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}

.askers.JadeAskers {
  background-image: url(https://cdn.betterttv.net/emote/605edd557493072efdeb568c/3x);
}

.askers.SOYcheck {
  background-image: url();
}

.mrmBald {
  height: 1000px
}

.goblin {
  display: inline-block;
  width: 20vw;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://i.ibb.co/0mXn2VK/goblin.png);
  margin: auto;
}
