body{
  background-color: #3a3a3a;
}

.askers {
    display: block;
    width: 40vw;
    height: 40vh;
    background-image: url(https://cdn.betterttv.net/emote/605edd557493072efdeb568c/3x
);
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
}
